body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(./Screenshot_20240801_020448_WhatsApp.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-x: hidden; /* Garante que não haja rolagem horizontal */
}
.logo{
    position: absolute;
    width: 150px;
    height: 300px;
    left: 0;
}
.logo2{
    position: absolute;
    width: 150px;
    height: 300px;
    right: 0;
}

.container-principal {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.coluna-direita {
    flex: 1;
    margin-right: 20px;
}

.coluna-esquerda {
    flex: 1;
    border-left: 2px solid #ddd;
    padding-left: 20px;
    min-width: 300px; 
}

h1, h2, h3 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 0px;
    text-align: center; /* Centraliza o texto dentro do campo */
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

p, h2 {
    margin: 10px 0;
}

#historico, #locaisValores {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0;
}

#historico li, #locaisValores li {
    margin-bottom: 5px;
}

#total, #totalGeral {
    font-size: 18px;
    font-weight: bold;
}
/* CSS para os valores totais dos locais */
#locaisValores li span {
    font-weight: bold; 
}

/* CSS para o total geral */
#totalGeral {
    font-size: 18px;
    font-weight: bold; 

}#locaisValores li {
    margin-bottom: 5px;
}

#locaisValores li .local {
    color: #007bff; /* Cor azul para destacar o nome do local, você pode alterar para qualquer cor que desejar */
    font-weight: bold; /* Torna o nome do local em negrito */
}

#locaisValores li span {
    font-weight: bold; /* Mantém o valor em negrito */
}



/* Media Queries */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .coluna-direita, .coluna-esquerda {
        margin: 0;
        border-left: none;
        border-bottom: 2px solid #ddd;
        padding: 0;
    }

    .coluna-direita {
        border-bottom: none;
    }

    .coluna-esquerda {
        padding-bottom: 20px;
    }
}
